@import"https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap";@import"https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@500&display=swap";@import"https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap";@import"https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Racing+Sans+One&display=swap";@import"https://fonts.googleapis.com/css2?family=Lilita+One&display=swap";@import"https://fonts.googleapis.com/css2?family=Mooli&display=swap";@import"https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap";@import"https://fonts.googleapis.com/css2?family=Open+Sans&display=swap";@import"https://fonts.googleapis.com/css2?family=Lato&display=swap";@import"https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap";@import"https://fonts.googleapis.com/css2?family=Oswald&display=swap";.nav {
    position: fixed;
    width: 100vw;
    display: grid;
    grid-template-columns: 5% 1fr 4fr 5%;
    z-index: 999
}

.nav-bg {
    background-color: #000000b6
}

.linklogo {
    grid-column: 2/3
}

.logo {
    width: 11vw;
    display: block;
    position: relative
}

.logo:hover {
    bottom: .2rem
}

.navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

.navlinks li {
    list-style: none
}

.navlinks li:hover {
    margin-bottom: .3rem
}

.navlinks .linktext {
    text-decoration: none;
    text-shadow: 0px 0px .4rem rgba(0,0,0,.95);
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: .05rem
}

.navlinks .linktext:hover {
    text-shadow: 0px 0px 1rem rgb(255 255 255 / 95%);
    -webkit-text-stroke-color: rgba(0,0,0,.2)
}

.nav-mobile {
    display: none
}

@media (orientation: portrait) {
    .nav,.nav-mobile {
        display:block;
        position: fixed;
        top: 0
    }

    .navlinks {
        display: none
    }

    .logo {
        width: 35vw;
        display: block;
        margin: 0 auto
    }

    .slide {
        height: 105vh;
        width: 50vw;
        background-color: #161515e3;
        transition: .5s ease;
        margin-left: -50vw
    }

    .slide h1 {
        color: #fff;
        font-family: Roboto,sans-serif;
        font-size: 7vw;
        font-weight: 600;
        text-align: right;
        padding: 10% 10% 10% 0
    }

    .moblinks li {
        list-style: none
    }

    .mob-linktext {
        text-decoration: none;
        color: #fff;
        font-family: Roboto,sans-serif;
        font-size: 3.5vw;
        font-weight: 400;
        letter-spacing: .05rem;
        display: block;
        padding: 10%;
        border-bottom: .1rem #807373ad solid;
        transition: .2s ease-out
    }

    .nav-mobile input {
        opacity: 0;
        z-index: 2;
        position: fixed;
        height: 10vw;
        width: 11vw;
        left: 5vw;
        top: 4vw
    }

    .toggleslide {
        position: absolute;
        height: 9vw;
        width: 9vw;
        top: 6vw;
        left: 6vw;
        z-index: 1;
        border-radius: 2px
    }

    .toggleslide .common {
        position: absolute;
        height: 1vw;
        width: 9vw;
        background-color: #fff;
        border-radius: 3.125rem;
        transition: .3s ease
    }

    .toggleslide .top_line {
        top: 15%;
        transform: translate((-50%,-50%))
    }

    .toggleslide .middle_line {
        top: 45%;
        transform: translate((-50%,-50%))
    }

    .toggleslide .bottom_line {
        top: 75%;
        transform: translate((-50%,-50%))
    }

    input:checked~.toggleslide .top_line {
        top: 45%;
        width: 11vw;
        transform: rotate(45deg)
    }

    input:checked~.toggleslide .bottom_line {
        top: 45%;
        width: 11vw;
        transform: rotate(-45deg)
    }

    input:checked~.toggleslide .middle_line {
        top: 45%;
        width: 11vw;
        transform: rotate(-45deg)
    }

    input:checked~.slide {
        margin-left: 0;
        width: 50vw
    }
}

.footer {
    width: 100%;
    background-color: #005f60;
    display: flex;
    flex-direction: column;
    position: absolute
}

.footer .text1 {
    text-align: center;
    font-family: Lato,sans-serif;
    color: #fff;
    display: block;
    font-size: 300%;
    font-weight: 900;
    margin-top: 5rem;
    margin-bottom: 4vh
}

.footer .footercontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 8vh
}

.footer .container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-family: Lato,sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 6vh
}

.footer .container h2 {
    font-weight: 800;
    font-size: 200%
}

.footer .container h3 {
    font-weight: 600;
    font-size: 175%
}

.footer .container h5 {
    font-weight: 300
}

.footer .container span {
    font-weight: 300;
    font-size: 125%
}

.footer .contacts {
    width: 25rem
}

.footer .contacts tr {
    height: 3rem
}

.footer .container .socialicons {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    justify-content: center
}

.footer .credits a {
    position: absolute;
    margin-left: 1vh;
    margin-top: -.1%
}

.footer .credits h5 {
    font-size: 120%;
    font-weight: 400;
    margin-bottom: 5%
}

.backdiv {
    text-align: center;
    overflow: hidden
}

.backdiv img {
    width: 100vw;
    height: 100vh;
    object-fit: cover
}

.backdiv .head {
    position: absolute;
    top: 40%;
    left: 30%;
    color: #fff;
    font-family: Oswald,sans-serif;
    font-size: 9vw;
    text-shadow: .5rem .45rem .825rem rgba(0,0,0,1)
}

.backdiv .scrolldown {
    position: absolute;
    bottom: 4vh;
    height: 12vh;
    width: 14.5vh;
    left: 47%;
    cursor: pointer
}

.backdiv .scrolldown .common {
    position: absolute;
    height: 5%;
    width: 68%;
    margin-left: -58%;
    margin-top: 25%;
    background-color: #fff
}

.scrolldown .line1 {
    transform: rotate(45deg)
}

.scrolldown .line2 {
    transform: rotate(45deg);
    top: 35%
}

.scrolldown .line3 {
    transform: rotate(-45deg);
    left: 96.5%
}

.scrolldown .line4 {
    transform: rotate(-45deg);
    left: 96.5%;
    top: 35%
}

.section2 {
    background-color: #000;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 6vh;
    text-align: center;
    padding: 7rem 0 0;
    font-family: Lato,sans-serif
}

.section2 .text1 {
    font-size: 2.3rem;
    font-weight: 900
}

.section2 .text2 {
    padding: 0 18%;
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.15rem;
    letter-spacing: 1%
}

.section2 .text2 .boldtext {
    display: block;
    font-weight: 800;
    font-size: 1.4rem;
    margin-bottom: 1%
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5%;
    flex-wrap: wrap
}

.boxes img {
    height: 5rem
}

.boxes .box {
    width: 17vw;
    min-width: 15rem;
    padding: 2rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
    border-radius: 15%/10%;
    margin-bottom: 6vh
}

.box:nth-child(1) {
    background-color: #e4621c
}

.box:nth-child(2) {
    background-color: #ff8c10
}

.box:nth-child(3) {
    background-color: #f3a633
}

.boxes .box .flextitle {
    font-weight: 800;
    font-size: 1.5rem
}

.boxes .box .flexcontent {
    font-size: 1.2rem;
    font-weight: 100
}

.aboutus {
    width: 100%;
    display: flex
}

.aboutus .container,.aboutus .container2 {
    background-color: #e87130;
    height: 100vh;
    width: 50%;
    text-align: center;
    font-family: Lato,sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.aboutus .text1 {
    display: block;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 4rem
}

.aboutus .text2 {
    display: block;
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.3rem;
    padding: 0 9%;
    margin-bottom: 3rem
}

.aboutus button {
    padding: .55rem 2rem;
    width: 25%;
    font-family: Lato,sans-serif;
    color: #fff;
    font-size: 110%;
    background-image: linear-gradient(to right,#008083,#249ea0);
    border: 0;
    cursor: pointer
}

.aboutus .bgimg {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-size: 60%;
    background-position: 101% 70%;
    background-attachment: fixed
}

.aboutvjti {
    display: flex;
    flex-direction: row-reverse
}

.aboutvjti .bgimg {
    background-size: 65%;
    background-position: -40% 100%;
    left: 0
}

.aboutvjti .container2 {
    background-color: #f49100
}

.achievements .container {
    background-color: #249ea0
}

.activities .container2 {
    background-color: #008083
}

.achievements button,.activities button {
    background-image: linear-gradient(to right,#fd5901,#faab36)
}

.activities .bgimg {
    background-size: 75%;
    background-position: 0% 70%
}

.responsive {
    display: none
}

@media (orientation: portrait) {
    .backdiv .head {
        font-size:18vw;
        top: 43%;
        left: 10%
    }

    .backdiv .scrolldown {
        height: 23vw;
        width: 23vw;
        left: 40%
    }

    .aboutus {
        display: none
    }

    .responsive {
        display: block
    }

    .responsive .bgimg {
        background-size: cover;
        padding: 15% 0;
        background-attachment: fixed;
        background-position: center
    }

    .responsive .container {
        width: 60vw;
        margin: 0 auto;
        border-radius: 5%;
        padding: 2rem 1.8rem 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.2rem;
        font-family: Lato,sans-serif;
        color: #fff;
        text-align: center
    }

    .responsive .one {
        background-color: #e87030d7
    }

    .responsive .two {
        background-color: #f49100d7
    }

    .responsive .three {
        background-color: #249ea0d7
    }

    .responsive .four {
        background-color: #008083d7
    }

    .responsive .container h2 {
        font-weight: 800;
        font-size: 1.6rem
    }

    .responsive .container span {
        font-weight: 100;
        font-size: 1.1rem
    }

    .responsive .container .button1 {
        padding: .6rem 2rem;
        width: 60%;
        font-family: Lato,sans-serif;
        color: #fff;
        font-size: 100%;
        background-image: linear-gradient(to right,#008083,#249ea0);
        border: 0;
        cursor: pointer
    }

    .responsive .container .button2 {
        background-image: linear-gradient(to right,#fd5901,#faab36)
    }

    .whiteline {
        width: 100vw;
        height: .5vh;
        background-color: #c2bebe
    }
}

.whiteline {
    width: 100%;
    height: .5vh;
    background-color: #fff
}

.senate {
    min-height: 100vh;
    background-color: #000;
    text-align: center
}

.heading {
    font-family: Racing Sans One,cursive;
    color: #fff;
    font-weight: 400;
    font-size: 10vh;
    display: block;
    padding-top: 15vh;
    text-align: center
}

.senate .picsflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7vh;
    column-gap: 10vw
}

.senate .picsflex .box {
    display: flex;
    flex-direction: column;
    background-color: #0000;
    margin-bottom: 7vh;
    align-items: center;
    row-gap: 1.1vh
}

.senate .picsflex .box img {
    height: 40vh;
    width: 30vh;
    object-fit: cover;
    border: .5rem solid #008083;
    border-radius: 50%
}

.senate .picsflex .box span {
    font-family: Lato,sans-serif;
    font-size: 3vh;
    color: #fff;
    font-weight: 400
}

.senate .line {
    width: 90%;
    height: .05rem;
    background-color: #fff
}

.senate .box:nth-child(1) {
    margin-top: 5vh
}

.senate .box:nth-child(3) {
    margin-top: 5vh
}

.motorbreathbg {
    height: 100vh
}

.motorbreathbg img {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover
}

.motorbreathbg .content {
    position: relative;
    top: 45vh
}

.motorbreathbg .line {
    height: 1.3vh;
    width: 65vw;
    background-color: #fff;
    border-radius: 5%/500%
}

.motorbreathbg .box1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4vw;
    margin-left: 4.5vw;
    margin-bottom: -4vh
}

.motorbreathbg .box2 {
    display: flex;
    flex-direction: column;
    margin-left: 40vw
}

.motorbreathbg span {
    font-family: Lato,sans-serif;
    color: #fff;
    font-size: 7vw;
    font-weight: 800;
    text-shadow: .5vw .5vh 2vw #000000
}

.motorbreathbg .teamname {
    color: #ffde59
}

.motorbreathbg .baja {
    font-size: 2.5vw;
    margin-top: -2vh;
    margin-bottom: 5vh
}

.motorbreathbg button {
    padding: 1.7vh 0rem;
    font-family: Lato,sans-serif;
    color: #fff;
    font-size: 1.3vw;
    max-width: 16.1vw;
    background-image: linear-gradient(to right,rgb(255,222,89),rgb(255,145,77));
    border: 0;
    cursor: pointer
}

.motorbg {
    background-repeat: repeat-y;
    background-size: contain
}

.motorbreath .picsflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20vw
}

.motorbreath .picsflex .box {
    display: flex;
    flex-direction: column;
    background-color: #0000;
    align-items: center;
    row-gap: 1vh;
    padding-top: 7vh
}

.motorbreath .picsflex .box img {
    height: 45vh;
    width: 30vh;
    object-fit: cover;
    border: .6rem solid #e87130;
    border-radius: 10%
}

.motorbreath .picsflex .box span {
    font-family: Lato,sans-serif;
    font-size: 3vh;
    color: #fff;
    font-weight: 400
}

.motorbreath .chassis .box img {
    height: 38vh;
    width: 25vh;
    border: .5rem solid #f49100
}

.motorbreath .vd .box img {
    border: .5rem solid #249ea0
}

.motorbreath .powertrans .box img {
    border: .5rem solid #008083
}

.motorbreath .brakes .box img {
    border: .5rem solid #005f60
}

.motorbreath .brakes .brake1 {
    margin-bottom: -20vh
}

.motorbreath .elecleft {
    display: flex;
    justify-content: flex-start;
    margin-left: 20vw
}

.motorbreath .elecright {
    display: flex;
    justify-content: flex-end;
    margin-right: 19vw;
    padding-bottom: 5vh
}

.motorbreath .elecleft .box img,.motorbreath .elecright .box img {
    border: .5rem solid #f78104
}

.motorbreath .margin_neg {
    margin-bottom: -17vh
}

.forzabg {
    height: 100vh
}

.forzabg img {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover
}

.forzabg .content {
    position: relative;
    top: 45vh;
    margin-left: 5vw
}

.forzabg .line {
    height: 1.3vh;
    width: 65vw;
    background-color: #fff;
    border-radius: 5%/500%
}

.forzabg .box1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4vw;
    margin-bottom: -4vh;
    margin-left: 0
}

.forzabg .box2 {
    display: flex;
    flex-direction: column;
    margin-left: 0
}

.forzabg span {
    font-family: Lato,sans-serif;
    color: #fff;
    font-size: 7vw;
    font-weight: 800;
    text-shadow: .5vw .5vh 2vw #000000
}

.forzabg .teamname {
    color: #ff3131
}

.forzabg .baja {
    font-size: 2.5vw;
    margin-top: -2vh;
    margin-bottom: 5vh
}

.forzabg button {
    padding: 1.7vh 0rem;
    font-family: Lato,sans-serif;
    color: #fff;
    font-size: 1.3vw;
    max-width: 16.1vw;
    background-image: linear-gradient(to right,#ff3131,#ff914d);
    border: 0;
    cursor: pointer
}

.forzateam .forzabg {
    background-repeat: repeat-y;
    background-size: contain
}

.forzateam .picsflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10vw
}

.forzateam .heads .box:nth-child(1),.forzateam .heads .box:nth-child(3) {
    margin-top: 15vh
}

.forzateam .margin_neg {
    margin-bottom: -7vh
}

.forzateam .content:nth-last-child(1) {
    padding-bottom: 10vh
}

.senate .responsive {
    display: none
}

@media (orientation: portrait) {
    .heading {
        font-size:13vw
    }

    .senate .box:nth-child(1) {
        margin-top: 0
    }

    .senate .box:nth-child(3) {
        margin-top: 0
    }

    .motorbreathbg {
        min-height: 100vh
    }

    .motorbreathbg .content {
        top: 60vh
    }

    .motorbreathbg .line {
        height: .8vh;
        width: 53vw
    }

    .motorbreathbg .box1 {
        margin-bottom: 0
    }

    .motorbreathbg .box2 {
        margin-left: 4vw
    }

    .motorbreathbg span {
        font-size: 12vw
    }

    .motorbreathbg .baja {
        font-size: 5vw;
        margin-top: 0;
        margin-bottom: 2vh
    }

    .motorbreathbg button {
        font-size: 5vw;
        max-width: 43vw;
        padding: 1.1vh 0
    }

    .motorbreath .brakes .brake1 {
        margin-bottom: 0vh
    }

    .motorbreath .elecleft {
        margin-bottom: 0;
        margin-left: 0;
        justify-content: center
    }

    .motorbreath .elecright {
        justify-content: center;
        margin-right: 0
    }

    .motorbreath .margin_neg {
        margin-bottom: 0vh
    }

    .senate .responsive {
        display: block
    }

    .senate .nonresponsive {
        display: none
    }

    .motorbreathbg .line {
        border-radius: 5%/150%
    }

    .forzabg .box1,.forzabg .content {
        margin-left: 0
    }

    .forzateam .heads .box:nth-child(1),.forzateam .heads .box:nth-child(3) {
        margin-top: 0
    }
}

.blocks {
    width: 27vw;
    color: #000;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    max-height: 80vh
}

.blocks .year p {
    font-family: Racing Sans One,cursive;
    font-size: 3.8vw;
    text-align: left;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: .2vh;
    letter-spacing: .1vw;
    -webkit-text-stroke-color: aqua;
    text-shadow: 0px 0px 6px rgb(0,255,255,.8)
}

.blocks img {
    object-fit: fill;
    width: 27vw;
    height: 45vh
}

.blocks .content {
    background-color: #ffb15f;
    padding: 1vh 1.5vh 3vh;
    max-height: 13.2vh;
    overflow-y: scroll
}

.blocks .content::-webkit-scrollbar {
    width: .5vw;
    border-radius: .2vw
}

.blocks:nth-child(2n) .content {
    background-color: #2dafb1
}

.blocks:nth-child(2n) .content::-webkit-scrollbar-thumb {
    background-color: #286667
}

.blocks:nth-child(2n + 1) .content {
    background-color: #f6a631
}

.blocks:nth-child(2n + 1) .content::-webkit-scrollbar-thumb {
    background-color: #f4830b
}

.blocks .content h2 {
    margin-top: 1vh;
    margin-bottom: .5vh;
    font-size: 1.6vw;
    font-family: Racing Sans One,cursive;
    color: #ff6000;
    font-weight: 400;
    letter-spacing: .05vw
}

.blocks:nth-child(2n) .content h2 {
    font-family: Racing Sans One,cursive;
    color: #02375d;
    font-weight: 400
}

.blocks .content h4 {
    font-size: 1.2vw;
    font-family: Work Sans,sans-serif;
    margin-bottom: 1vh
}

.blocks .content p {
    word-wrap: break-all;
    min-height: 2vh;
    margin: .3vh 0 0;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 1vw;
    padding-right: 1vw
}

@media (orientation: portrait) {
    .blocks {
        width:80vw;
        color: #000;
        text-align: center;
        overflow: hidden;
        box-sizing: border-box;
        margin: 2vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 100vh
    }

    .blocks .year p {
        font-size: 6.5vh;
        text-align: left;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-width: .2vh;
        -webkit-text-stroke-color: aqua
    }

    .blocks img {
        object-fit: contain;
        width: 80vw;
        height: auto
    }

    max- .blocks .content {
        background-color: #5f9ea0
    }

    .blocks .content h2 {
        margin-top: 2vh;
        font-size: 2.8vh;
        font-family: Work Sans,sans-serif
    }

    .blocks .content h4 {
        font-size: 2.5vh;
        font-family: Work Sans,sans-serif
    }

    .blocks .content p {
        word-wrap: break-all;
        min-height: 2vh;
        margin: 1vh 1.2vh 3vh;
        font-family: Montserrat,sans-serif
    }
}

.bgimg {
    text-align: center;
    overflow: hidden
}

.bgimg img {
    width: 100vw;
    height: 100vh;
    object-fit: cover
}

.bgimg .head {
    position: absolute;
    top: 38%;
    left: 20.5%;
    color: #fff;
    font-family: Oswald,sans-serif;
    text-shadow: .5rem .45rem .825rem rgba(0,0,0,1);
    font-size: 10vw;
    letter-spacing: .2vw
}

.sec2 {
    background-color: #000;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

@media (orientation: portrait) {
    .bgimg .head {
        position:absolute;
        top: 45%;
        left: 15%;
        color: #fff;
        font-family: Oswald,sans-serif;
        font-size: 13vw
    }
}

.activities .activitiesbg {
    height: 100vh
}

.activities .activitiesbg .darkenimage {
    height: 115%;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 40%;
    margin-top: -115vh
}

.activities .activitiesbg img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: top
}

.activities .activitiesbg span {
    position: absolute;
    top: 35%;
    left: 30%;
    color: #fff;
    font-family: Oswald,sans-serif;
    font-size: 10vw;
    text-shadow: .4375rem .375rem .625rem rgba(0,0,0,1);
    letter-spacing: .2vw
}

.activities .blackdiv {
    background-color: #000;
    padding: 7vh 15vw
}

.activities .blackdiv .box {
    width: 51.77vw;
    height: 17.5vw;
    background-color: #005f60;
    border-radius: 15%/50%;
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    align-items: center;
    margin-bottom: 5vh
}

.activities .blackdiv .box .box1 {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: 3vw;
    padding-left: 1vw
}

.activities .blackdiv .box .title {
    font-family: Racing Sans One,cursive;
    color: #ff914d;
    font-weight: 400;
    font-size: 2.5vw
}

.activities .blackdiv .box .content {
    font-family: Lato,sans-serif;
    font-size: 1.6vw;
    color: #fff;
    font-weight: 300
}

.activities .blackdiv .box img {
    height: 16vw;
    width: 16vw;
    object-fit: cover;
    border-radius: 50%
}

.activities .blackdiv .box:nth-child(1) {
    float: right;
    flex-direction: row-reverse
}

.activities .blackdiv .box:nth-child(1) .box1 {
    margin-left: 0;
    margin-right: 3vw
}

.activities .blackdiv .box:nth-child(2) {
    background-color: #d85c18;
    color: #0c335d
}

.activities .blackdiv .box:nth-child(3) {
    background-color: #f6a631;
    float: right;
    flex-direction: row-reverse
}

.activities .blackdiv .box:nth-child(3) .box1 {
    margin-left: 0;
    margin-right: 3vw
}

.activities .blackdiv .box:nth-child(4) {
    background-color: #249ea0
}

.activities .blackdiv .box:nth-child(5) {
    float: right;
    flex-direction: row-reverse;
    background-color: #f49100
}

.activities .blackdiv .box:nth-child(2) .title {
    color: #0c335d
}

.activities .blackdiv .box:nth-child(3) .title {
    color: #d85c18
}

.activities .blackdiv .box:nth-child(4) .title {
    color: #ff914d
}

.activities .blackdiv .box:nth-child(5) .title {
    color: #0c335c
}

.activities .blackdiv .box:nth-child(6) .title {
    color: #d85c18
}

@media (orientation: portrait) {
    .activities .activitiesbg span {
        top:40%;
        left: 10%;
        font-size: 20vw
    }

    .activities .blackdiv {
        padding: 5vh 0 0;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .activities .blackdiv .box {
        width: 90vw;
        height: 35vw;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1vw;
        border-radius: 20%/50%
    }

    .activities .blackdiv .box .content {
        font-size: 2.7vw
    }

    .activities .blackdiv .box .box1 {
        width: 49vw;
        padding-left: 2vw;
        row-gap: .5vh
    }

    .activities .blackdiv .box img {
        height: 31vw;
        width: 31vw
    }

    .activities .blackdiv .box .title {
        font-size: 4.1vw
    }

    .activities .blackdiv .box:nth-child(6) .title {
        font-size: 4.5vw
    }
}

.internshipsbg {
    height: 100vh
}

.internshipsbg img {
    height: 100vh;
    width: 100%;
    object-fit: cover
}

.internshipsbg .darkenimage {
    height: 114.3%;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 40%;
    margin-top: -115vh
}

.internshipsbg span {
    position: absolute;
    top: 34%;
    left: 25%;
    color: #fff;
    font-family: Oswald,sans-serif;
    font-size: 10vw;
    text-shadow: .4375rem .375rem .625rem rgba(0,0,0,1);
    letter-spacing: .2vw
}

.CSIR {
    background-size: cover;
    background-position-x: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    object-fit: cover;
    padding: 8vh 0
}

.CSIR .head img {
    width: 60vw;
    height: 25vh;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5vh
}

.CSIR .head img:nth-child(2) {
    display: none
}

.CSIR span {
    color: #fff;
    font-size: 3vh;
    font-weight: 500;
    font-family: Lilita One,cursive;
    letter-spacing: .1vw;
    margin-top: -8vh
}

.CSIR .pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5vw;
    row-gap: 3vh;
    text-align: center;
    padding: 11vh 15vw;
    margin-top: -7vh
}

.CSIR .pics .box1 {
    width: 31vh
}

.CSIR .pics .box1 img {
    height: 45vh;
    width: 100%;
    object-fit: cover
}

.CSIR .pics .box1 span {
    font-family: Lilita One,cursive;
    color: #fff;
    font-weight: 700;
    font-size: 2vw;
    letter-spacing: .1vw
}

.BARC {
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    object-fit: cover
}

.BARC .barc-head {
    color: #353430;
    font-size: 9vh;
    font-weight: 600;
    font-family: Lilita One,cursive;
    margin-top: 5vh
}

.BARC .barc-head2 {
    font-size: 4vh;
    font-weight: 700;
    font-family: Oswald,sans-serif;
    color: #353430;
    letter-spacing: .1vw;
    margin-top: -3vh
}

.BARC .barc-logo {
    height: 15vh;
    width: 10vw;
    object-fit: cover;
    position: absolute;
    right: 2vw;
    top: 274vh
}

.BARC .barc-logo img {
    width: 10vw
}

.BARC .pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5vw;
    row-gap: 3vh;
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 2vh
}

.BARC .pics .box1 {
    width: 34vh;
    background-color: #435b6a;
    padding: 3vh 2vh
}

.BARC .pics .box1 img {
    height: 38vh;
    width: 31vh;
    object-fit: cover
}

.BARC .pics .box1 span {
    font-family: Lilita One,cursive;
    color: #fff;
    font-weight: 700;
    font-size: 2vw
}

.research {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover
}

.research .whitediv {
    background-color: #ffffff8a;
    text-align: center;
    width: 60vw;
    margin: 8vh auto;
    padding: 4vh 0 0
}

.research .whitediv span {
    font-family: Lilita One,cursive;
    color: #000;
    font-size: 3vw
}

.research .whitediv .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center
}

.research .whitediv .grid img {
    height: 5vw;
    width: 10vw;
    object-fit: contain
}

.research .whitediv .grid .pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 5vh
}

.research .whitediv .grid .pics .box1 {
    width: 15vw
}

.research .whitediv .grid .pics .box1 img {
    height: 19vw;
    width: 14vw;
    object-fit: cover;
    margin-bottom: 3vh
}

.research .whitediv .grid .pics span {
    font-family: Lilita One,cursive;
    color: #253439;
    font-weight: 700;
    font-size: 1.5vw;
    margin-top: 3vh
}

.research .whitediv .grid .pics .box1 h4 {
    font-family: Lilita One,cursive;
    color: #390a47;
    margin-top: 3vh;
    font-weight: 700;
    font-size: 1.2vw;
    padding: 0 2vw
}

.mitacs2 img {
    object-fit: cover;
    text-align: center
}

.mitacs2 .whitediv {
    margin: 0 auto;
    padding: 10vh 0
}

.mitacs2 span {
    font-family: Lilita One,cursive;
    color: #000;
    font-size: 3vw
}

.mitacs2 .pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5vw;
    row-gap: 3vh;
    padding: 5vh 0
}

.mitacs2 .pics img {
    height: 12vh;
    width: 12vw;
    object-fit: contain
}

.mitacs2 .pics .box1 {
    width: 16vw
}

.mitacs2 .pics .box1:nth-child(1) {
    text-align: left
}

.mitacs2 .pics .box1:nth-child(2) {
    text-align: right
}

.mitacs2 .pics .box1 img {
    height: 19vw;
    width: 15vw;
    object-fit: cover;
    margin-bottom: 2vh
}

.mitacs2 .pics .box1 span {
    font-family: Lilita One,cursive;
    color: #fff;
    font-weight: 500;
    font-size: 1.7vw;
    text-shadow: 4px 2px 4px rgba(66,68,90,1)
}

.mitacs2 .pics .box1 h4 {
    font-family: Lilita One,cursive;
    color: #0159a9;
    margin-top: 1vh;
    font-weight: 500;
    font-size: 1.35vw;
    letter-spacing: .1vw;
    text-align: right
}

.mitacs2 .pics .box1 h4:nth-child(2) {
    color: #2e318f;
    letter-spacing: .1vw;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
    text-align: left
}

.mitacs2 .pics .box1:nth-child(2) h4 {
    color: #81c13f;
    letter-spacing: .1vw;
    text-align: right
}

.mitacs2 .pics .box1:nth-child(2) h4:nth-child(1) {
    color: #81c13f;
    letter-spacing: .1vw
}

.mitacs3 {
    background-size: cover;
    padding: 10vh 0
}

.mitacs3 img {
    object-fit: cover
}

.mitacs3 .whitediv .pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 9vw;
    text-align: center;
    row-gap: 3vh;
    padding: 5vh 0
}

.mitacs3 .whitediv .pics .box1 {
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center
}

.mitacs3 .whitediv .pics .box1 .pic {
    height: 20vw;
    width: 16vw;
    object-fit: cover;
    margin-bottom: 2vh
}

.mitacs3 .whitediv .pics .box1 span {
    font-family: Lilita One,cursive;
    color: #fff;
    font-weight: 500;
    font-size: 2vw;
    text-shadow: 4px 2px 4px rgba(66,68,90,1);
    letter-spacing: .1vw
}

.mitacs3 .whitediv .pics .box1 h4 {
    font-family: Lilita One,cursive;
    color: #fbdb59;
    font-weight: 400;
    font-size: 1.2vw;
    text-shadow: 1px 1px 4px rgba(66,68,90,1);
    letter-spacing: .1vw;
    margin-top: .5vh
}

.mitacs3 .whitediv .pics .box1:nth-child(1) .company {
    height: 2.5vw;
    margin-top: 2vh;
    margin-bottom: 3vh
}

.mitacs3 .whitediv .pics .box1:nth-child(2) .company {
    height: 4vw;
    margin-bottom: 2vh
}

.mitacs3 .whitediv .pics .box1:nth-child(3) .company {
    height: 4vw;
    margin-bottom: 2vh
}

@media (orientation: portrait) {
    .internshipsbg .darkenimage {
        height:114.6%
    }

    .internshipsbg span {
        top: 45%;
        left: 12%;
        font-size: 15vw
    }

    .CSIR {
        width: 100%;
        padding: 2vh 0
    }

    .CSIR .head img:nth-child(1) {
        display: none
    }

    .CSIR .head img:nth-child(2) {
        display: block
    }

    .CSIR .head img {
        width: 100%;
        height: 8vh
    }

    .CSIR span {
        margin-top: 2vh
    }

    .CSIR .pics .box1 {
        width: 25vh;
        margin-bottom: 2vh
    }

    .CSIR .pics .box1 img {
        height: 40vh;
        margin-bottom: 1vh
    }

    .CSIR .pics .box1 span {
        font-size: 6vw
    }

    .BARC .barc-logo {
        display: none
    }

    .BARC .pics .box1 {
        width: 25vh
    }

    .BARC .pics .box1 img {
        width: 23vh
    }

    .BARC .pics .box1 span {
        font-size: 5vw
    }

    .research .whitediv {
        width: 80vw
    }

    .research .whitediv span {
        font-size: 8vw
    }

    .research .whitediv .grid img {
        height: 20vw;
        width: 20vw;
        margin: 0 3vw
    }

    .research .whitediv .grid .pics {
        margin: 5vw 2vw
    }

    .research .whitediv .grid .pics .box1 {
        width: 40vw
    }

    .research .whitediv .grid .pics span {
        font-size: 4.4vw
    }

    .research .whitediv .grid .pics .box1 h4 {
        font-size: 2.8vw;
        margin: 0 0 5vw
    }

    .research .whitediv .grid .pics .box1 img {
        height: 50vw;
        width: 100%;
        max-width: 35vw;
        margin: 0
    }

    .mitacs2 .pics img {
        width: 18vw
    }

    .mitacs2 .pics .box1 {
        width: 50vw
    }

    .mitacs2 .pics .box1 img {
        min-width: 50vw;
        height: 65vw
    }

    .mitacs2 .pics .box1 span {
        font-size: 6vw
    }

    .mitacs2 .pics .box1 h4 {
        font-size: 4vw
    }

    .mitacs2 .pics .box1 h4:nth-child(2) {
        color: #575cf7
    }

    .mitacs3 .whitediv .pics .box1 {
        width: auto
    }

    .mitacs3 .whitediv .pics .box1 .pic {
        height: 70vw;
        width: 60vw
    }

    .mitacs3 .whitediv .pics .box1 span {
        font-size: 6vw
    }

    .mitacs3 .whitediv .pics .box1 h4 {
        font-size: 2.5vw
    }

    .mitacs3 .whitediv .pics .box1:nth-child(1) .company {
        height: 7vw;
        margin: 0 0 2vh
    }

    .mitacs3 .whitediv .pics .box1:nth-child(2) .company {
        height: 10vw;
        margin: 0;
        margin-bottom: 1vh
    }

    .mitacs3 .whitediv .pics .box1:nth-child(3) .company {
        height: 10vw;
        margin: 0 0 1vh
    }

    .mitacs3 .whitediv .pics .box1 h4 {
        font-size: 4vw
    }
}

.backgnd {
    text-align: center;
    overflow: hidden;
    z-index: 1
}

.backgnd .head {
    position: fixed;
    top: 18%;
    left: 24%;
    color: #fff;
    font-family: Oswald,sans-serif;
    font-size: 22vw;
    text-shadow: .5rem .45rem .825rem rgba(0,0,0,1);
    letter-spacing: .5vw
}

.darkenimage {
    height: 115%;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 40%;
    margin-top: -115vh
}

.mediaimg {
    display: flex;
    background-color: #000;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100vh;
    padding-bottom: 10vh
}

.mediaimg img {
    height: 45vh;
    width: 70vh;
    margin: 2vw;
    object-fit: cover;
    border: 3px rgb(54,49,49) solid;
    box-shadow: 0 0 26px 2px #000;
    z-index: 10
}

.foot {
    z-index: 10
}

@media (orientation: portrait) {
    .backgnd .head {
        top:37%;
        left: 15%;
        font-size: 30vw
    }

    .mediaimg img {
        max-height: 50vw;
        max-width: 70vw;
        margin: 8vw 2vw
    }
}

.crowd .back {
    height: 100vh
}

.crowd .back .darkenimage {
    height: 115%;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 40%;
    margin-top: -115vh
}

.crowd .back img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: top
}

.crowd .back span {
    position: absolute;
    top: 38%;
    left: 23%;
    color: #fff;
    font-family: Oswald,sans-serif;
    font-size: 9vw;
    text-shadow: .5rem .45rem .825rem rgba(0,0,0,1);
    letter-spacing: .2vw
}

.tiers {
    text-align: center;
    background-color: #000;
    padding-top: 4vw;
    padding-bottom: 4vw
}

.tiers .ok {
    margin-top: 5vw;
    font-size: 3vw;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: 500
}

.tiers .all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.tiers .all .tier {
    width: 16vw;
    height: 23vw;
    background-image: linear-gradient(45deg,hsl(0deg 1% 55%) 0%,hsl(9deg 5% 57%) 19%,hsl(16deg 10% 58%) 27%,hsl(23deg 14% 59%) 34%,hsl(30deg 18% 61%) 41%,hsl(37deg 21% 68%) 47%,hsl(45deg 26% 74%) 53%,hsl(55deg 31% 80%) 59%,hsl(60deg 33% 84%) 66%,hsl(60deg 32% 86%) 73%,hsl(60deg 32% 89%) 81%,hsl(60deg 32% 91%) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4vh;
    margin: 3vw;
    cursor: pointer;
    padding: 1vw .5vw
}

.tiers .all .tier .before {
    display: block
}

.tiers .all .tier .after {
    display: none;
    justify-content: center;
    margin-left: 2vw;
    text-align: left
}

.tiers .all .tier .before span {
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: .1vw;
    text-shadow: 0px 0px 14px rgb(203,160,58)
}

.tiers .all .tier .after ul {
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: 1.15vw;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgb(152,115,28);
    padding: 1.5vw
}

.tiers .all .tier:hover .after {
    display: block
}

.tiers .all .tier:hover .before {
    display: none
}

.tiers .all .tier:nth-child(2) {
    background-image: linear-gradient(45deg,hsl(60deg 1% 45%) 2%,hsl(30deg 3% 50%) 26%,hsl(11deg 4% 55%) 37%,hsl(347deg 4% 61%) 46%,hsl(304deg 3% 65%) 54%,hsl(240deg 5% 71%) 61%,hsl(269deg 5% 76%) 68%,hsl(303deg 5% 81%) 74%,hsl(330deg 9% 87%) 81%,hsl(347deg 16% 93%) 88%,hsl(0deg 100% 99%) 99%)
}

.tiers .all .tier:nth-child(2) .before span {
    text-shadow: 0px 0px 14px rgba(23,23,23,.975)
}

.tiers .all .tier:nth-child(3) {
    background-image: linear-gradient(45deg,hsl(0deg 1% 55%) 0%,hsl(50deg 9% 64%) 10%,hsl(55deg 18% 71%) 20%,hsl(57deg 30% 77%) 30%,hsl(55deg 36% 84%) 40%,hsl(50deg 37% 90%) 50%,hsl(37deg 43% 96%) 60%,hsl(266deg 24% 97%) 70%,hsl(225deg 44% 90%) 80%,hsl(221deg 51% 81%) 90%,hsl(218deg 56% 71%) 100%)
}

.tiers .all .tier:nth-child(3) .before span {
    text-shadow: 0px 0px 14px rgba(164,140,20,.9)
}

.tiers .all .tier:nth-child(4) {
    background-image: linear-gradient(25deg,hsl(0deg 1% 64%) 0%,hsl(242deg 14% 64%) 12%,hsl(241deg 27% 63%) 23%,hsl(240deg 40% 61%) 35%,hsl(240deg 52% 59%) 46%,hsl(241deg 55% 65%) 57%,hsl(242deg 51% 76%) 68%,hsl(245deg 47% 84%) 79%,hsl(252deg 41% 92%) 90%,hsl(0deg 100% 99%) 100%)
}

.tiers .all .tier:nth-child(4) .before span {
    text-shadow: 0px 0px 14px rgba(57,13,158,.975)
}

.tiers .all .tier:nth-child(5) {
    background-image: linear-gradient(45deg,hsl(0deg 9% 91%) 0%,hsl(104deg 16% 87%) 11%,hsl(116deg 27% 84%) 22%,hsl(120deg 35% 80%) 33%,hsl(122deg 42% 75%) 44%,hsl(122deg 43% 77%) 56%,hsl(120deg 40% 83%) 67%,hsl(115deg 37% 89%) 78%,hsl(103deg 31% 94%) 89%,hsl(0deg 100% 99%) 100%)
}

.tiers .all .tier:nth-child(5) .before span {
    text-shadow: 0px 0px 14px rgb(27,163,61)
}

.tiers .all .tier:nth-child(6) {
    background-image: linear-gradient(45deg,hsl(0deg 17% 73%) 0%,hsl(4deg 26% 71%) 11%,hsl(7deg 34% 69%) 22%,hsl(8deg 41% 66%) 33%,hsl(10deg 48% 64%) 44%,hsl(9deg 50% 68%) 56%,hsl(8deg 47% 77%) 67%,hsl(8deg 47% 85%) 78%,hsl(6deg 48% 93%) 89%,hsl(0deg 100% 99%) 100%)
}

.tiers .all .tier:nth-child(6) .before span {
    text-shadow: 0px 0px 14px rgba(188,38,27,.975)
}

.tiers .all .tier:nth-child(7) {
    background-image: linear-gradient(45deg,hsl(0deg 5% 55%) 0%,hsl(0deg 4% 60%) 7%,hsl(0deg 2% 66%) 15%,hsl(0deg 1% 71%) 24%,hsl(214deg 10% 71%) 33%,hsl(213deg 24% 70%) 43%,hsl(212deg 37% 68%) 53%,hsl(212deg 43% 71%) 64%,hsl(215deg 38% 82%) 75%,hsl(221deg 30% 91%) 87%,hsl(0deg 100% 99%) 100%)
}

.tiers .all .tier:nth-child(7) .before span {
    text-shadow: 0px 0px 14px rgba(169,197,219,.975)
}

.desktop {
    display: block
}

.budget {
    text-align: center;
    background-color: #000;
    background-repeat: no-repeat;
    padding-top: 2vw;
    padding-bottom: 5vw
}

.budget .txt {
    color: #fff;
    padding-top: 2vw
}

.budget .txt span {
    margin-top: 2vw;
    font-family: montserrat,sans-serif;
    letter-spacing: .2vw;
    font-weight: 700;
    font-size: 3vw
}

.budget .breakup-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vw
}

.budget .breakup-1 .photo-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5vw
}

.budget .breakup-1 .photo-1 .image-1 {
    height: 20vh;
    width: 20vh;
    border-radius: 20vh;
    margin-bottom: 5vh
}

.budget .breakup-1 .photo-1 .image-2 {
    height: 60vh;
    width: 40vw
}

.budget .breakup-1 .chart-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw
}

.budget .breakup-1 .chart-1 .total {
    height: 2.5vw;
    width: 20vw;
    background-color: #005f60;
    font-size: 2vw;
    color: #fff;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    border-radius: 2vw;
    padding: 1vw;
    margin-top: 3vw;
    margin-bottom: 5vw
}

.mobile {
    display: none
}

.budget .breakup-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vw;
    margin-bottom: 10vh
}

.budget .breakup-2 .photo-2 {
    display: flex;
    justify-content: center;
    align-items: center
}

.budget .breakup-2 .photo-2 .image-1 {
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    margin-right: 5vw
}

.budget .breakup-2 .photo-2 .image-2 {
    height: 55vw;
    width: 55vw
}

.budget .breakup-2 .chart-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw
}

.budget .breakup-2 .chart-2 .total {
    height: 5vw;
    width: 40vw;
    background-color: #005f60;
    font-size: 4vw;
    color: #fff;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    border-radius: 4vw;
    padding: 2vw;
    margin-top: 3vw;
    margin-bottom: 4vw;
    text-align: center
}

.bg {
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5vh 2vw 5vh 2vw;
    display: flex;
    justify-content: end
}

.bg .floater {
    width: 42vw;
    height: 35vh;
    background-color: #008083;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20vh 0 0 20vh;
    padding: 2vh 1vw 2vh 1vw
}

.bg .floater img {
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    object-fit: contain
}

.bg .floater .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 1vw 1vh 1vw;
    width: 25vw
}

.bg .floater .cont .header {
    margin: 1vh 1vw 1vh 1vw;
    font-size: 1.8vw;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    text-shadow: 2px 1px #25252597
}

.bg .floater .cont .des {
    word-break: break-word;
    word-wrap: break-word;
    color: #f0f8ff;
    width: 17vw;
    text-align: center;
    font-family: Montserrat,sans-serif;
    font-size: 2vh;
    font-weight: 500
}

.crowdform {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    display: flex;
    justify-content: center
}

.crowdform .formy {
    color: #f5f5f5;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Montserrat,sans-serif;
    margin: 2vw;
    border-radius: 3vw;
    padding: 5vw 0;
    margin: 0 auto;
    margin-bottom: 7vh
}

.crowdform .formy .title {
    word-break: break-word;
    word-wrap: break-word;
    width: 25vw;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    display: block;
    margin-bottom: 3vw
}

.crowdform .formy form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center
}

.crowdform .formy label {
    font-family: Montserrat,sans-serif;
    font-size: 1.5vw;
    margin-bottom: .5vw
}

.crowdform .formy input {
    margin-bottom: 3vw;
    width: 40vw;
    border: none;
    border-radius: 4%/60%;
    background-color: #49888d4d;
    color: #f5f5f5;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    padding: .8vw 1vw;
    outline: none
}

.crowdform .formy select {
    margin-bottom: 5vh;
    width: 42vw;
    border: none;
    border-radius: 4%/60%;
    background-color: #49888d4c;
    color: #f5f5f5;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    padding: .8vw 1vw;
    outline: none
}

.crowdform .formy option {
    margin-bottom: 5vh;
    width: 40vw;
    border: none;
    border-radius: 4%/60%;
    background-color: #49888dc0;
    color: #f5f5f5;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    padding: .8vw 1vw;
    outline: none
}

.crowdform .formy .fform .scan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw
}

.crowdform .formy .fform .scan span {
    margin: .5vw
}

.crowdform .formy .submit {
    cursor: pointer;
    width: 20vw;
    height: 3vw;
    border: none;
    border-radius: 8%/50%;
    background-color: #49888d;
    color: #f5f5f5
}

.crowdform .formy .new {
    border-radius: 2vw;
    margin: none;
    border: none;
    outline: none;
    width: 52vw
}

.formy {
    margin: 10vw
}

.formy button {
    --glow-color: rgb(224 195 251);
    --glow-spread-color: rgba(191, 123, 255, .781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 2rem 5rem;
    color: var(--glow-color);
    font-size: 150%;
    font-weight: 700;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),0 0 3em .5em var(--glow-spread-color),inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all .3s;
    cursor: pointer
}

.formy button:active {
    box-shadow: 0 0 .6em .25em var(--glow-color),0 0 2.5em 2em var(--glow-spread-color),inset 0 0 .5em .25em var(--glow-color)
}

@media (orientation: portrait) {
    .crowd .back span {
        font-size:11vw;
        top: 45%;
        left: 15%
    }

    .tiers .ok {
        margin-top: 3vw;
        font-size: 10vw;
        margin-bottom: 3vw
    }

    .tiers .all .tier {
        width: 39vw;
        margin: 3vw;
        height: 60vw
    }

    .tiers .all .tier .before span {
        font-size: 4vw
    }

    .tiers .all .tier .after ul {
        font-size: 3vw;
        padding: 5vw
    }

    .desktop {
        display: none
    }

    .mobile {
        display: block
    }

    .budget .txt-2 {
        color: #fff;
        padding-top: 10vh
    }

    .budget .txt-2 span {
        margin-top: 4vw;
        font-family: montserrat,sans-serif;
        letter-spacing: .2vw;
        font-weight: 700;
        font-size: 8vw
    }

    .crowdform .formy {
        width: 90vw
    }

    .crowdform .formy .title {
        font-size: 4vw;
        width: 65vw;
        margin-bottom: 5vw;
        margin-top: 3vw
    }

    .crowdform .formy label {
        font-size: 3.5vw
    }

    .crowdform .formy input {
        width: 75vw;
        border-radius: 10%/80%;
        font-size: 3vw;
        padding: 2.5vw 3vw;
        margin-bottom: 5vw
    }

    .crowdform .formy option,.crowdform .formy select {
        width: 75vw;
        border-radius: 10%/80%;
        font-size: 3vw;
        padding: 2.5vw 3vw
    }

    .crowdform .formy .fform .scan {
        margin: 5vw
    }

    .crowdform .formy .fform .scan span {
        margin: 1.5vw
    }

    .crowdform .formy .submit {
        width: 30vw;
        height: 10vw;
        border-radius: 19%/50%;
        font-size: 4vw
    }

    .formy {
        margin: 20vw 0
    }

    .formy button {
        padding: 1rem 2.5rem;
        font-size: 100%
    }
}

.whiteline {
    width: 100%;
    height: .5vh;
    background-color: #c2bebe
}

.sponsorbg {
    height: 100vh
}

.sponsorbg img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.sponsorbg span {
    position: absolute;
    top: 40%;
    left: 34%;
    color: #fff;
    font-family: Oswald,sans-serif;
    text-shadow: .5rem .45rem .825rem rgba(0,0,0,1);
    font-size: 7vw;
    letter-spacing: -.2vw
}

.formsection {
    background-color: #000;
    background-size: cover;
    padding: 10vh 0
}

.formsection .booklet {
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    padding: 5vh 0;
    background-color: #00000080;
    border-radius: 4%/15%
}

.formsection .booklet span {
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 1.4vw;
    color: #fff
}

.formsection .booklet .download {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10vw
}

.formsection .booklet .download button {
    margin-top: 4vh;
    padding: 2vh 0;
    width: 15vw;
    border: none;
    border-radius: .7vw;
    color: #fff;
    font-family: Lato,sans-serif;
    font-weight: 700;
    font-size: 1.1vw
}

.formsection .booklet .download a:nth-child(1) button {
    background-image: linear-gradient(to right,rgb(255,222,89),rgb(255,145,77));
    text-shadow: 0rem 0rem .8rem rgba(0,0,0,.7)
}

.formsection .booklet .download a:nth-child(2) button {
    background-image: linear-gradient(to right,#ff3131,#ff914d);
    text-shadow: 0rem 0rem .8rem rgba(0,0,0,.7)
}

.formsection .formdiv {
    width: 60vw;
    background-color: #005e6099;
    padding: 5vh 0;
    border-radius: 3%/4%;
    margin: 7vh auto;
    color: #fff
}

.formsection .formdiv span {
    text-align: center;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 1.3vw;
    display: block;
    margin-bottom: 8vh
}

.formsection .formdiv form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center
}

.formsection .formdiv label {
    font-family: Lato,sans-serif;
    font-size: 110%;
    margin-left: 1vw
}

.formsection .formdiv input {
    margin-bottom: 5vh;
    width: 40vw;
    border: none;
    border-radius: 4%/60%;
    background-color: #49888d4d;
    color: #fff;
    font-family: "",sans-serif;
    font-weight: 700;
    font-size: 1.1vw;
    padding: 2vh 1vw;
    outline: none
}

.formsection .formdiv .submit {
    cursor: pointer;
    width: 20vw;
    height: 7vh;
    border: none;
    border-radius: 6%/50%;
    background-color: #49888d;
    color: #fff
}

.sponsorsection {
    background-color: #000;
    background-size: cover;
    padding: 10vh 0
}

.sponsorsection .currentspons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.sponsorsection .currentspons h1 {
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 6vh;
    position: center;
    margin-bottom: 6vh
}

.sponsorsection .currentspons .currsponslandscape {
    display: block;
    height: 90vh
}

.sponsorsection .currentspons .currsponsportrait {
    display: none
}

.sponsorsection .pastspons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.sponsorsection .pastspons h1 {
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 6vh;
    margin-bottom: 3vh;
    margin-top: 4vh
}

.sponsorsection .pastspons .pastsponslandscape {
    display: block;
    width: 80vw;
    height: 80vh
}

.sponsorsection .pastspons .pastsponsportrait {
    display: none
}

@media (orientation: portrait) {
    .sponsorbg span {
        font-size:15vw;
        font-weight: 800;
        top: 45%;
        left: 15%
    }

    .formsection .booklet {
        width: 85vw;
        padding: 3vh 3vw
    }

    .formsection .booklet span {
        font-size: 4vw
    }

    .formsection .booklet .download {
        column-gap: 7vw
    }

    .formsection .booklet .download button {
        font-size: 3.5vw;
        font-weight: 800;
        padding: 2vh 1vw;
        width: 50vw
    }

    .formsection .formdiv {
        width: 70vw;
        padding: 5vh 5vw;
        border-radius: 6%/2%
    }

    .formsection .formdiv span {
        font-size: 4vw;
        margin-bottom: 4vh
    }

    .formsection .formdiv label {
        font-size: 100%;
        display: block;
        margin-bottom: -1.5vh
    }

    .formsection .formdiv input {
        width: 58vw;
        border-radius: 6%/50%;
        margin-bottom: 3vh;
        font-size: 3.1vw;
        padding: 3.1vw 2vw
    }

    .formsection .formdiv .submit {
        width: 40vw;
        height: initial;
        font-size: 4vw;
        padding: 1.5vh 0;
        border-radius: 13%/50%;
        margin-top: 3vh
    }

    .sponsorsection .currentspons h1 {
        color: #fff;
        font-family: Montserrat,sans-serif;
        font-weight: 700;
        font-size: 4vh;
        position: center;
        margin-bottom: .5vh
    }

    .sponsorsection .currentspons .currsponslandscape {
        display: none
    }

    .sponsorsection .currentspons .currsponsportrait {
        display: block;
        width: 80vw;
        height: 80vh
    }

    .sponsorsection .pastspons h1 {
        color: #fff;
        font-family: Montserrat,sans-serif;
        font-weight: 700;
        font-size: 4vh;
        margin-bottom: 3vh;
        margin-top: 6vh
    }

    .sponsorsection .pastspons .pastsponslandscape {
        display: none
    }

    .sponsorsection .pastspons .pastsponsportrait {
        display: block;
        width: 82vw;
        height: 80vh
    }
}

* {
    margin: 0;
    padding: 0
}

body::-webkit-scrollbar {
    width: 12px
}

body::-webkit-scrollbar-track {
    background: #f0f1f1
}

body::-webkit-scrollbar-thumb {
    background-color: #848485;
    border-radius: 20px;
    border: 3px solid #f0f1f1
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #585858
}
